name: Publish NuGet Package

on:
  push:
    branches: [ "main" ]

jobs:
  publish:
    runs-on: windows-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Pack
        run: dotnet pack AdminBlazor.csproj -c Release -o out

      - name: Push to GitHub Packages
        run: dotnet nuget push out/*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }} --source "https://nuget.pkg.github.com/Fadedev2023/index.json" --skip-duplicate